.signin-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.signin-left-panel {
  flex: 0 0 65%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styles for the registration right panel */
.signin-right-panel {
  background-color: #10466d;
  color: white;
  flex: 0 0 35%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the content inside the registration right panel */
.signin-right-panel .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Sign In Account Text */
.signin-left-panel h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Or use your email account Text */
.signin-note {
  font-size: 1em;
  color: gray;
}

.signin-logo {
  font-family: Cursive;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.signin-right-panel h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.signin-right-panel p {
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 50px;
}

.signin-signup-button {
  background-color: white;
  color: #10466d;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  margin-top: 70px;
}

.signin-signup-button:hover {
  background-color: #e6e6e6;
}

.signin-social-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Each Social Button Include Its Image Icon */
.signin-social-button {
  background-color: transparent;
  border: none;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  font-size: 1em;
  cursor: pointer;
  padding: 0;
}

/* Button Image Icon */
.signin-social-button img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.signin-input-container {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

/* Input Field Icon */
.signin-input-container i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
}

/* Input Field */
.signin-input-container input {
  width: 100%;
  height: 30px;
  padding: 10px 10px 10px 40px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: #333;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.signin-button {
  background-color: #10466d;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 70px;
}

.signin-button:hover {
  background-color: #083a57;
}
